name: Release Build

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
      - name: Install deps
        run: sudo apt update && sudo apt install -y zlib1g-dev libzstd-dev liblzma-dev liblz4-dev liblzo2-dev
      - name: Build normal version
        run: zig build -Drelease=true -Dversion=${{ github.ref_name }}
      - name: Move normal build out
        run: mv zig-out/bin/unsquashfs ./unsquashfs-x86_64
      - name: Rebuild with C libraries
        run: zig build --release=fast -Drelease=true -Duse_c_libs=true -Dversion="${{ github.ref_name }}"
      - name: Move C build out
        run: mv zig-out/bin/unsquashfs ./unsquashfs-x86_64-c-libs
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          files: |
            unsquashfs-x86_64
            unsquashfs-x86_64-c-libs
