name: Release Build

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build normal version
        run: zig build -Drelease=true -Dversion=${{ github.ref_name }}
      - name: Move normal build out
        run: mv zig-out/bin/unsquashfs ./
      - name: Install C deps
        run: apt install zlib1g-dev libzstd-dev liblzma-dev liblz4-dev liblzo2-dev | yes
      - name: Rebuild with C libraries
        run: zig build -Drelease=true -Duse_c_libs=true -Dversion="${{ github.ref_name }}"
      - name: Move C build out
        run: mv zig-out/bin/unsquashfs ./unsquashfs-c-libs
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          files: |
            ./unsquashfs
            ./unsquashfs-c-libs
