name: Release Build

on: release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
      - name: Install deps
        run: sudo apt update && sudo apt install -y zlib1g-dev libzstd-dev liblzma-dev liblz4-dev liblzo2-dev
      - name: Build normal version
        run: zig build -Drelease=true -Dversion=${{ github.ref_name }}
      - name: Move normal build out
        run: mv zig-out/bin/unsquashfs ./
      - name: Rebuild with C libraries
        run: zig build -Drelease=true -Duse_c_libs=true -Dversion="${{ github.ref_name }}"
      - name: Move C build out
        run: mv zig-out/bin/unsquashfs ./unsquashfs-c-libs
      - name: Upload to release
        uses: JasonEtco/upload-to-release@master
        with:
          args: |
            unsquashfs application/x-executable
            unsquashfs-c-libs application/x-executable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
